/* Empty. Add your own CSS if you like */
#content p{
    font-size: 16px;
}

#content img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.red {
    color: #ED1E24;
}

.azul {
    color: #4787C7;
}

.verde {
    color: #35D7A0;
}